body
    {
    font-family: 'Segoe UI', sans-serif;
    background-color: rgba(3, 127, 246, 0.05);
    margin: 0;
    }

    /* :: Menu :: */

#Menu
    {
    position: fixed;
    top: 5px;
    left: 1%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    height: 50px;
    width: 98%;
    z-index: 10;
    }

#Menu-left
    {
    position: fixed;
    top: 9px;
    left: 1.1%;
    }

#Menu-right
    {
    position: fixed;
    top: 9px;
    right: 25px;
    }

.menuButton
    {
    cursor: pointer;
    border-radius: 2px;
    color: black;
    float: left;
    padding: 9px 15px;
    margin-left: 5px;

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    }

.menuButton:hover
    {
    background-color: rgba(3, 127, 246, 0.3);
    }

#DonateButton
    {
    display: block;
    text-decoration: none;
    }

    /* :: Timers :: */

#mainContainer
    {
    padding: 20px 0;
    margin-top: 50px;
    width: 100%;
    }

#mainContainer > div:last-child
    {
    margin-bottom: 40px;
    }

.StopWatch-container
    {
    display: inline-block;
    width: 49%;
    position: relative;
    margin: 0.5%;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    }

.StopWatch-title
    {
    font-size: 1.5em;
    font-weight: bold;

    margin: 25px 0;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 22px;
    min-height: 1em;
    }

.StopWatch-title:not(:focus)
    {
    cursor: pointer;
    }

.StopWatch-count
    {
    padding: 0 15px;
    }

.StopWatch-countMessage
    {
    margin-left: 150px;
    }

.StopWatch-entryMessage
    {
    margin-left: 10px;
    }

.StopWatch-entry
    {
    width: 100px;
    }

.watch-active
    {
    background-color: rgba(0, 252, 0, 0.13);
    }

.watch-notActive
    {
    background-color: transparent;
    }

.watch-stopped
    {
    background-color: rgba(36, 19, 181, 0.13);
    }

.watch-finished
    {
    background-color: rgba(188, 0, 0, 0.13);
    }

.StopWatch-startStop, .StopWatch-restart, .StopWatch-reset
    {
    font-family: arial, sans-serif;
    }

.validDrop
    {
    background-color: #b3b3b3;
    }

    /* :: Top Buttons :: */

.StopWatch-topButtons
    {
    position: absolute;
    top: 0;
    opacity: 0.3;
    cursor: pointer;
    }

.StopWatch-topButtons:hover
    {
    opacity: 1;
    transform: scale( 1.2 );
    }

.StopWatch-remove
    {
    right: 5px;
    }

.StopWatch-openOptions
    {
    right: 20px;
    }

.StopWatch-dragHandle
    {
    left: 5px;
    }

    /* :: Options Window :: */

.Options-container
    {
    position : absolute;
    top: 0;
    right: 0;

    min-width: 200px;
    min-height: 90px;

    background-color: white;

    padding: 5px;
    border-radius: 5px;
    }

.Options-close
    {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0.5;
    }

.Options-close:hover
    {
    opacity: 1;
    }

.Options-description
    {
    margin: 5px;
    }

.Options-value
    {
    float: left;
    background-color: rgba(3, 127, 246, 0.1);
    cursor: pointer;
    padding: 5px 15px;
    }

.Options-value:hover
    {
    background-color: rgba(3, 127, 246, 0.2);
    }

.Options-selected
    {
    background-color: rgba(3, 127, 246, 0.4);   /* Same as the add buttons */
    }

.Options-selected:hover
    {
    background-color: rgba(3, 127, 246, 0.5);
    }
