body
    {
    font-family: 'Segoe UI', sans-serif;
    }

#title
    {
    text-align: center;
    }


#StopWatch, #CountDown
    {
    float: left;    

    margin-top: 20px;
    width: 50%;
    }


.StopWatch-container, .CountDown-container
    {
    position: relative;
    }


.StopWatch-remove, .CountDown-remove
    {
    position: absolute;
    
    top: 5px;
    right: 5px;

    cursor: pointer;
    }

#StopWatch-add, #CountDown-add
    {
    cursor: pointer;
    }