body
    {
    font-family: 'Segoe UI', sans-serif;
    }

#title
    {
    text-align: center;
    }


#StopWatch, #CountDown
    {
    float: left;    

    margin-top: 20px;
    width: 50%;
    }


.StopWatch-container, .CountDown-container
    {
    position: relative;
    }


.StopWatch-remove, .CountDown-remove
    {
    position: absolute;
    
    top: 5px;
    right: 5px;

    cursor: pointer;
    }

#StopWatch-add, #CountDown-add
    {
    cursor: pointer;
    }


.PopupWindow-container
    {
    position : absolute;

    min-width: 200px;
    min-height: 100px;

    background-color: #636363;

    padding-top: 22px;
    }


.PopupWindow-close
    {
    position: absolute;
    top: 2px;
    right: 8px;
    }