body
    {
    font-family: 'Segoe UI', sans-serif;

    background-color: rgba(3, 127, 246, 0.1);
    }

#title
    {
    text-align: center;
    }


#StopWatch, #CountDown
    {
    float: left;    

    margin-top: 20px;

    width: 50%;
    }

#StopWatch-mainContainer, #CountDown-mainContainer
    {
    padding: 20px;
    }


.StopWatch-container, .CountDown-container
    {
    position: relative;
    }


.StopWatch-remove, .CountDown-remove
    {
    position: absolute;
    
    top: 5px;
    right: 5px;

    cursor: pointer;
    }

#StopWatch-add, #CountDown-add
    {
    cursor: pointer;
    background-color: rgba(3, 127, 246, 0.3);
    
    margin: 0 5px;
    border-radius: 5px;
    text-align: center;
    padding: 3px 0;
    }


.PopupWindow-container
    {
    position : absolute;

    min-width: 200px;
    min-height: 100px;

    background-color: #636363;

    padding-top: 22px;
    }


.PopupWindow-close
    {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 8px;
    }


.StopWatch-container, .CountDown-container
    {
    border-radius: 5px;
    }   

.watch-active
    {
    background-color: rgba(0, 252, 0, 0.4);
    }

.watch-notActive
    {
    background-color: none;
    }

.watch-stopped
    {
    background-color: rgba(36, 19, 181, 0.4);
    }

.watch-finished
    {
    background-color: rgba(188, 0, 0, 0.4);
    }